<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fst-italic" style="color: gold;"> <i class="fa-solid fa-clapperboard me-2"></i> Warrior cinemas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav fw-bold ms-auto text-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="home" data-bs-target="
          .navbar-collapse.show" data-bs-toggle="collapse">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="login" data-bs-target="
          .navbar-collapse.show"  data-bs-toggle="collapse">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="signup" data-bs-target="
          .navbar-collapse.show"  data-bs-toggle="collapse">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="cares" data-bs-target="
          .navbar-collapse.show"  data-bs-toggle="collapse">Cares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="contactus" data-bs-target="
          .navbar-collapse.show"  data-bs-toggle="collapse">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

