<div class="footer p-3">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5">
        <div class="col">
            <ul>General
                <li><a href="">ABOUT US</a> </li>
                <li><a href="">FAQ'S</a></li>
                <li><a href="">INVESTORS SECTION</a></li>
                <li><a href="">CAREER</a></li>
                <li><a href="">NEWS</a></li>
                <li><a href="">FEEDBACK</a></li>
            </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="">EVENTS</a></li>
                    <li><a href="">NVSP</a></li>
                </ul>
            </div>
        <div class="col">
            <ul>OUR BRANDS
                <li><a href="">WC DIRECTOR'S CUT</a></li>
                <li><a href="">WC PICTURES</a></li>
                <li><a href="">WC IMAX</a></li>
                <li><a href="">WC 4DX</a></li>
                <li><a href="">PLAYHOUSE</a></li>
                <li><a href="">WC GOLD</a></li>
                
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a href="">WC LUXE</a></li>
                <li><a href="">WC P[XL]</a></li>
                <li><a href="">WC ONYX</a></li>
                <li><a href="">WC NEST</a></li>
                <li><a href="">WC PRISTINE</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>CINEMAS
                <li><a href="">CINEMAS</a></li>
                <li><a href="">UPCOMING</a></li>
                <li><a href="">ADVERTISE</a></li>
                <li><a href="">BEYOND MOVIES</a></li>
                <li><a href="">BIRTHDAY REQUEST</a></li>
                <li><a href="">SUBSCRIBE TO NEWSLETTER</a></li>
            </ul>
        </div>
    </div>
        <div class=" text-center mt-2">
            <i class="fa-brands fa-facebook me-5"></i>
            <i class="fa-brands fa-instagram me-5"></i>
            <i class="fa-brands fa-twitter me-5"></i>
            <i class="fa-brands fa-google-plus-g me-5"></i>
            <i class="fa-brands fa-youtube me-5"></i>
            <i class="fa-brands fa-linkedin-in me-5"></i>
        </div>

    <h6 class="text-end text-white mt-3">COPYRIGHT © 2022 PVR LTD. ALL RIGHTS RESERVED.</h6>
</div>