<div class="cares mt-3 px-3 py-3">
    <img src="../../assets/img1.webp" class="w-100 h-100" alt="image not found">
    <img src="../../assets/img2.webp" class="w-100 h-100" alt="image not found">
    <!-- grid 1 -->
    <div class="row row-cols-1 row-cols-md-2  d-flex justify-content-center align-items-center ">
        <div class="col">
            <h4 class="text-muted">WARRIOR CINEMAS CARES IS OUR COMMITMENT TOWARDS ENSURING THE HEALTH & SAFETY OF OUR
                GUEST AND STAFF. AS
                THE WORLD
                STEPS INTO THE NEW NORMAL, THE ETHOS OF WARRIOR CINEMAS STANDS REINVIGORATED, DRIVEN BY THE SUPREME
                IMPORTANCE IT
                PLACES ON THE SAFETY, COMFORT AND DELIGHT OF ITS GUESTS. ALL OF US AT PVR ARE GRATEFUL FOR THE IMMENSE
                TRUST PLACED IN US BY OUR GUESTS.</h4>
        </div>
        <div class="col">
            <img src="../../assets/img3.webp" class="w-75 h-75" alt="image not found">
        </div>
    </div>
    <!-- grid 2 -->
    <div class="row row-cols-1 row-cols-md-2  bg-warning d-flex justify-content-center align-items-center ">
        <div class="order-2 order-sm-1 col">
            <img src="../../assets/img4.png" class="w-50 h-50" alt="image not found">
        </div>
        <div class="order-1 order-sm-2 col">
            <h2 class="fs-1">SAFER ENTERTAINMENT</h2>
            <br>
            <h5 class="text-muted">IN OUR COMMITMENT TOWARDS YOUR HEALTH AND SAFETY WE WILL ACTIVELY MONITOR AND EVOLVE
                OUR PREVENTIVE
                MEASURES TO ENSURE THAT WE CONTINUE TO TAKE CARE OF YOUR EVERY COMFORT AND WELL-BEING; BRINGING YOU
                HEART-WARMING MOMENTS AND SPELLBINDING STORIES FROM AROUND THE WORLD.</h5>
        </div>
    </div>
    <!-- grid 3 -->
    <div class="row row-cols-1 row-cols-md-2  d-flex justify-content-center align-items-center ">
        <div class="col">
            <h1 class="fs-1">EXTRAORDINARY <br> MEASURES</h1>
            <p class="text-muted">
                WE ARE STRINGENTLY ADHERING TO ALL HEALTH AND SAFETY PROTOCOLS FOR THE WELLBEING OF OUR GUESTS AND
                EMPLOYEES WITHOUT COMPROMISING THE QUALITY OF ENTERTAINMENT. ENTIRE CINEMA IS SANITISED USING ADVANCED
                ULV ELECTROSTATIC SPRAY GUNS WITH CERTIFIED LONG LASTING PROTECTION. INDOOR AIR QUALITY IN OUR
                AUDITORIUMS IS IMPROVED WITH INCREASED INTAKE OF FRESH AIR AND MAINTENANCE OF TEMPERATURE AND HUMIDITY
                LEVELS AS PER GOVT. DIRECTIVES. ALL HIGH TOUCH POINTS ARE RELIGIOUSLY DISINFECTED AT REGULAR INTERVALS
                AND AUDITORIUMS ARE DISINFECTED BEFORE THE START OF EACH SHOW. FOOD PACKAGING, CROCKERY AND CUTLERY WILL
                BE STERILIZED IN UV CABINETS BEFORE SERVING, WHILE ONLY DISPOSABLE FOOD PACKAGING WILL BE USED IN
                REGULAR CINEMAS.</p>
        </div>
        <div class="col">
            <img src="../../assets/img5.png" class="w-100 h-100" alt="image not found">
        </div>
    </div>
    <!-- grid 4 -->
    <div class="row row-cols-1 row-cols-md-2  d-flex justify-content-center align-items-center">
        <div class="col order-2 order-sm-1">
            <img src="../../assets/img9.webp" class="w-100 h-100" alt="image not found">
        </div>
        <div class="col order-1 order-sm-2">
            <h2>SOCIAL DISTANCING</h2>
            <p class="text-muted">
                LAYOUTS FOR SEATING AND GUEST MOVEMENT HAVE BEEN ALTERED TO ENABLE PHYSICAL DISTANCING IN AUDITORIUMS,
                LOBBIES, ELEVATORS, BOX OFFICE, CONCESSIONS AND COMMON AREAS. FLOOR MARKERS ARE PLACED AT ALL QUEUING
                POINTS, STARTING FROM THE BOX OFFICE TILL CINEMA EXIT.
            </p>
        </div>

    </div>
    <!-- grid 5-->
    <div class="row row-cols-1 row-cols-md-2   d-flex justify-content-center align-items-center">
        <div class="col">
            <h1 class="fs-1">TOUCH THROUGH TECHNOLOGY</h1>
            <h4 class="text-muted">WE HAVE MODIFIED OUR PROCEDURES USING TECHNOLOGY FOR SEAMLESS, YET PERSONALIZED
                SERVICE. WITH DIGITAL
                PAYMENTS AND NON-INVASIVE THERMAL SCREENING, THE TOUCH OF CARE REPLACES THE PHYSICAL ONE.</h4>
        </div>
        <div class="col">
            <img src="../../assets/img6.webp" class="w-100 h-100" alt="image not found">
        </div>
    </div>
    <!-- grid 6 -->
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center  bg-warning">
        <div class=" order-2 order-sm-1 col">
            <img src="../../assets/img7.webp" class="w-100 h-100" alt="image not found">
        </div>
        <div class="order-1 order-sm-2 col">
            <h2 class="fs-1">CARE FOR THE CARING</h2>
            <p class="text-muted">WHILE CARING FOR OUR GUESTS, WE'RE PAYING EQUAL ATTENTION TO THE WELL-BEING OF OUR
                STAFF. THEY HAVE BEEN EXTENSIVELY TRAINED ON THE NEW SAFETY PROTOCOL AND STRINGENT HYGIENE PRACTICES.
                ALSO, THERE ARE MEASURES IN PLACE FOR THEIR SAFETY, SUCH AS DAILY HEALTH MONITORING, MONTHLY HEALTH
                CHECKS BY A CERTIFIED DOCTOR, SANITIZATION OF OFFICE SPACES AND PERSONAL PROTECTION EQUIPMENT FOR ALL.
                WE BELIEVE THAT BY CARING FOR OUR PEOPLE, WE ARE NOT ONLY PROVIDING A SAFE WORKPLACE BUT ALSO ENSURING
                THAT OUR PATRONS ENJOY A SAFE AND HYGIENIC ENVIRONMENT.</p>
        </div>
    </div>
    <!-- grid 7 -->
    <div class="row row-cols-1 row-cols-md-2  justify-content-center align-items-center ">
        <div class="col">
            <h1>Setting air safety standards to match
                our entertainment</h1>
            <ul class="d-flex justify-content-evenly   text-center">
                <li>
                    <img src="../../assets/simg1.webp" class="w-50 h-50" alt="image not found">
                    <p>Spacious Auditoriums</p>
                </li>
                <li>
                    <img src="../../assets/simg2.webp" class="w-50 h-50" alt="image not found">
                    <p>Improved air quality</p>
                </li>
                <li>
                    <img src="../../assets/simg3.webp" class="w-50 h-50" alt="image not found">
                    <p>Deep Sanitisation</p>
                </li>
                <li>
                    <img src="../../assets/simg4.webp" class="w-50 h-50" alt="image not found">
                    <p>Temperature and humidity levels</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <img src="../../assets/img8.webp" class="w-100 h-100" alt="image not found">
        </div>
    </div>
</div>