<div class="login mt-5 p-5">
    <div class="row h-100">
        <div class="col-sm-12 col-md-5">
            <img src="../../assets/login.svg" class="w-100 h-100" alt="image not found">
        </div>
        <div class="col-sm-12 col-md-7 d-flex h-100 align-items-center justify-content-center mt-3">
            <form #ref="ngForm" class="d-block mx-auto  w-75" (ngSubmit)=" ref.valid && formSubmit()"
                [formGroup]="userDetails" autocomplete="off">
                <h3 class="text-center fw-bold">Login Here</h3>
                <!-- username -->
                <div class="text-center form-floating mt-2">
                    <input type="text" class="form-control " name="username" id="un" placeholder="username"
                        formControlName='username'>
                    <label for="un"><i class="fa-solid fa-user"></i> Username</label>
                </div>
                <!-- error for username -->
                <div *ngIf="ref.submitted || (username.touched && username.invalid)">
                    <p *ngIf="username.errors?.['required']">*enter user name buddy!!!</p>
                    <p *ngIf="username.errors?.['minlength']">*Oops!!! character mismatch</p>
                </div>
                <!-- password -->
                <div class="text-center form-floating mt-2">
                    <input type="password" class="form-control " name="password" id="pw" placeholder="password"
                        formControlName='password'>
                    <label for="pw"><i class="fa-solid fa-lock"></i> Password</label>
                </div>
                <!-- error for password -->
                <div *ngIf="ref.submitted || (password.touched && password.invalid)">
                    <p *ngIf="password.errors?.['required']">*you missed password!!!</p>
                    <p *ngIf="password.errors?.['minlength']">*Oops!!! password mismatch</p>
                </div>
                <button type="submit" class="btn  d-block mx-auto mt-2"> <i class="fa-solid fa-right-to-bracket"></i>
                    Login</button>
                <div class="d-flex gap-3 justify-content-center">
                    <h5 class="text-white  pt-3">Not Registered yet?</h5>
                    <button  class="btn btn-sm rounded-pill" (click)="goToSignUp()"><i
                            class="fa-solid fa-user-plus"></i> signup here</button>
                </div>
            </form>
         </div>
    </div>
        
      
</div>